<!-- ================= FOOTER ================= -->
<footer th:fragment="footer">
    <div class="menu_footer">
        <ul>
            <li><a th:href="@{/trangchu}">Trang chủ</a></li>
            <li><a th:href="@{/thuonghieu}">Về thương hiệu Hamal</a></li>
            <li><a th:href="@{/tintuc}">Tin tức mới nhất</a></li>
            <li><a th:href="@{/lienhe}">Liên hệ</a></li>
        </ul>
        <img th:src="@{/img/logo_footer.png}" alt="Logo Footer">
    </div>

    <div class="xahoi">
        <a href="#" class="fb"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="ig"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="tt"><i class="fa-brands fa-tiktok"></i></a>
        <a href="#" class="ytb"><i class="fa-brands fa-youtube"></i></a>
    </div>

    <div class="contens2">
        <div class="left">
            <p>SDT: 0909999921</p>
            <p>Địa chỉ: 10A Hồ Xuân Hương, P.Thới Bình, Q.Ninh Kiều, TP Cần Thơ</p>
            <p>Webline: hamalvietnam@gmail.com</p>
            <p>Time: 08:00 - 22:00 (Nghỉ Chủ Nhật & ngày Lễ)</p>
            <p>GPKD số 1801720266 Cấp ngày 11 tháng 03 năm 2022</p>
        </div>

        <div class="right">
            <p>Bảo hành & Đổi trả</p>
            <p>Chính sách bảo mật</p>
            <p>Chính sách thanh toán</p>
            <p>Vận chuyển & Giao hàng</p>
            <p>Chính sách kiểm hàng</p>
            <p>Chính sách hàng giả, hàng nhái</p>
        </div>
    </div>

    <div class="end">
        <p>Copyright © 2022 Bản quyền thuộc về Công ty TNHH Hamal Việt Nam. Designed by Vietcore</p>
        <img th:src="@{/img/nph.png}" alt="Đối tác">
    </div>
</footer>
