<!-- ================= HEADER ================= -->
<header th:fragment="header">
    <div class="logo">
        <img th:src="@{/img/logo.png}" alt="logo">
    </div>

    <nav class="menu">
        <ul>
            <li><a th:href="@{/trangchu}">Trang Chủ</a></li>
            <li><a th:href="@{/thuonghieu}">Về thương hiệu Hanni</a></li>
            <li><a th:href="@{/sanpham}">Sản Phẩm</a></li>
            <li><a th:href="@{/tintuc}">Tin tức mới nhất</a></li>
            <li><a th:href="@{/#}">Chính sách công ty</a></li>
            <li><a th:href="@{/lienhe}">Liên hệ</a></li>
            <li><a th:href="@{/giohang}"><i class="fa-solid fa-bag-shopping" style="padding:0 10px;"></i>Giỏ hàng</a></li>
            <li><a th:href="@{/login}"><i class="fa-regular fa-id-badge" style="padding:0 10px;"></i>Đăng nhập</a></li>
        </ul>
    </nav>
</header>
