<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>
    <!-- ======= GỌI HEADER ======= -->
    <header th:replace="~{layout/header :: header}"></header>


    <!-- ==================== DANH SÁCH SẢN PHẨM ==================== -->
    <div class="sanpham">
        <th:block th:each="sp : ${products}">
            <div class="sp1">
                <img th:src="@{'/img/' + ${sp.hinhAnh}}" alt="Ảnh sản phẩm">
                <h3 th:text="${sp.tenSanPham}">Tên sản phẩm</h3>
                <p>Giá: <span th:text="${#numbers.formatDecimal(sp.donGia, 0, 'POINT', 0, 'COMMA')} + ' ₫'"></span></p>
                <p>Số lượng còn: <span th:text="${sp.soLuongTon}"></span></p>
                <h4 th:if="${sp.soLuongTon > 10}">HOT</h4>
                <a class="btn-add" th:href="@{|/cart/add/${sp.maSanPham}|}">🛒 Thêm vào giỏ</a>
            </div>
        </th:block>
    </div>

    </div>


    <!-- ======= GỌI FOOTER ======= -->
    <div th:replace="layout/footer :: footer"></div>
</body>
</html>
